/* Header style */
*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
    overflow: hidden;
    
}

nav{
    display: flex;
    justify-content: space-around;
}
.logo{
    font-size: 34px;
    color: blue;
    font-weight: bolder;
    margin-right: 40%;
    margin-top: 30px;
}
.btn-sign-up{
    width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}
.btn-sign-up:hover{
   background-color: orangered;
   transition: 0.3s ease;
}
/* Hero style  */
.hero-section{
    text-align: center;
    margin-top: 12%;
}
.hero-title{
    font-size: 65px;
    color: #252432;
    font-weight: bold;
}
.hero-btn{
    font-size: 16px;
    font-weight: bold;
    width: 174px;
    height: 48px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.hero-btn:hover{
    background-color: orangered;
    transition: 0.3s ease;
}
/* Action section style */
.action-section{
    width: 1140px;
    height: 342;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    margin: 0 auto;
}
.action-title{
    font-size: 42px;
    color: #252432;
    font-weight: bold;
    margin-bottom: 10px;
}
.action-description{
    font-size: 24px;
    color: #25243270;
}
.action-btn{
    width: 229px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:#4E47FF;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    
}
.action-btn:hover{
    background-color: orangered;
    transition: 0.3s ease;
}
.action-media img{
    width: 403px;
    height: 328px;
    border-radius: 25px;
    margin-top: 40px;
    
}
/* Productive user secton */
.productive-user-section{
    width: 1140px;
    height: 306px;
    background-color: #4d47ff25;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 50px;
}
.productive-heading{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #252432;
    padding-top: 30px;
}
.users{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    padding-top: 30px;
    
}
.user p{
    font-size: 20px;
    color: #0000005e;
}
/* challenges section syle */
.challenges-section{
    width: 1140px;
    height: 380px;
    margin: 0 auto;
    padding-top: 40px;
}
.challenges-heading{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    padding-top: 20px;
}
.user-feed-back-section{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 30px;
    
    
}
.feed-back{
    width: 366px;
    height: 180px;
    background-color:white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
}
.box-sub-heding{
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
}
.box-description{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.459);
    padding-bottom: 20px;
}
.avatar{
    display: flex;
    gap: 10px;
}
.avatar img{
    width: 40px;
    height: 40px;
}
.reviewer-name{
    font-size: 16px;
}
.reviewer-details p{
    font-size: 16px;
    color: #25243271;
}
/* Ready to focus section style */
.ready-to-focus-section{
    width: 1140px;
    height: 500px;
    background-color: rgb(219, 228, 225);
    margin: 0 auto;
    text-align: center;
    padding: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
}
.focus-heading{
    font-size: 50px;
    font-weight: bold;
}
.focus-description{
    font-size: 16px;
    color: #25243273;
    padding-top: 10px;
}
.get-started-free{
    width: 195px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
.get-started-free:hover{
    background-color: orangered;
    transition: 0.3s ease;
}
.wc-big-image{
    width: 840px;
    height: 365px;
    border-radius: 50px;
}
/* Get in touch section style */
.get-in-touch{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    padding-top: 50px;
    /* background-color: rgb(243, 247, 245); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.touch-heading{
    font-size: 57px;
    font-weight: bold;
    color: #000000;
    padding: 0px 20px;
    
}
.input-section input{
    display: inline-block;
    width: 497px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color:rgb(226, 241, 253);
}
textarea{
    width: 497px;
    height: 100px;
    border-radius: 20px;
    border: none;
    padding: 20px;
    background-color: rgb(226, 241, 253);
}
.input-section label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 10px 0;

}
.input-section ::placeholder{
    font-size: 20px;
    color: #00000086;
}
.get-in{
    width: 497px;
    height: 62px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
.get-in:hover{
    background-color: orangered;
    transition: 0.3s ease;
}